<div class="center-content">
  <%= form_for [:admin, @dj], url: {action: "update", :id => @dj.id}, html: {class:"dj-form"} do |f| %>
    <div class="dj-form-area">
      <%= f.label :first_name %>
      <%= f.text_field :first_name  %>
    </div>
    <div class="dj-form-area">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <div class="dj-form-area">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="dj-form-area">
      <%= f.label :bio, "Edit this DJ's bio on the DJ listing page" %>
      <%= f.text_area :bio %>
    </div>
    <div class="dj-form-area">
      <%= render partial: 'select_show', :locals => { :f => f } %>
      <div class="edit-show-form-submit">
        <%= f.submit "Update DJ" %>
      </div>
    </div>
  <% end %>
</div>
