<!DOCTYPE html>
<html>
<head>
  <title>WIXQ 91.7 :: Millersville University Radio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="header">
	<div class="header-hero float-left">
		<%= image_tag("logo.png") %>
	</div>

	<div class="audio-player float-left">
		<a id="player-text">listen live!</a>
		<a id="button-icon">
			&#9658;
		</a>
		<audio class="audio-stream"><source src="http://166.66.176.252:8004/;?icy=http" type="audio/mpeg" /></audio>
	</div>
	<div class="clearfix"></div>

	<div class="header-bar"></div>
</div>

<div class="body-wrap">

	<% flash.each do |message_type, message| %>
	  <div class="alert alert-<%= message_type %>"><%= message %></div>
	<% end %>

	<%= yield %>
</div>

</body>
</html>
